#============================================================
# APPLICATION CONFIGURATION
#============================================================
PORT=(some_port_number)                           //NUMBER
JWT_REFRESH_SECRET=(SECRET)                       //STRING
JWT_ACCESS_SECRET=(SECRET)                        //STRING
FRONTEND_URL=(url)                                //STRING


#============================================================
# DATABASE CONFIGURATION
#============================================================
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"